<h1>All your bookings</h1>
<% @bookings.each do |booking| %>
  <div class="<%= booking.start_date >= Date.today ? 'future-booking' : 'past-booking' %>">
    <% if booking.boat.photo.attached? %>
      <%= cl_image_tag booking.boat.photo.key, class: "boat-image-thumbnail" %>
    <% else %>
      <p class=>No photo available</p>
    <% end %>
    <h2><%= booking.boat.name %></h2>
    <p><%= booking.content %></p>
    <p>Check-in date - <%= booking.start_date %></p>
    <p>Check-out date - <%= booking.end_date %></p>
    <a href="<%= booking_path(booking.id) %>" class="btn submit-btn rounded">Click here for more options</a>
  </div>
  <br>
<% end %>
