<div class="container">
  <div class="booking-show">
  <%= @booking.content %>
  <%= render partial: "shared/boatcard", locals: { boat: @boat, booking: @booking } %>
  <br>
  From: <%= @booking.start_date %>
  <br>
  To: <%=  @booking.end_date %>
  <br>
<div class="d-flex-row">
  <% if policy(@booking).edit? %>
    <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-show" %>
  <% end %>

  <% if policy(@booking).destroy? %>
    <%= link_to "Delete", booking_path(@booking), class: "btn btn-show", method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
  <% end %>
  <%= link_to "Add Review", new_booking_review_path(@booking), class: "btn btn-show" %>
</div>

</div>
