<div class="container mt-4">
  <h1><%= "#{@booking.boat.name}" %></h1>

  <div class="card mt-3">
    <div class="card-body">
      <%= @booking.content %>
      <div class="d-flex">
        <p>Check in:    <%= @booking.start_date %></p>
        <p>Check out: <%= @booking.end_date %></p>
      </div>

      <div class="d-flex">
      <% if policy(@booking).edit? %>
        <%= link_to "Edit", edit_booking_path(@booking), class: "btn show-btn" %>
      <% end %>

      <% if policy(@booking).destroy? %>
        <%= button_to "Delete", booking_path(@booking), class: "btn show-btn", method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
      <% end %>

      <%= link_to "Add Review", new_booking_review_path(@booking), class: "btn show-btn" %>

      </div>
    </div>
  </div>
</div>
