<h1> <%= "#{@booking.boat.name}" %></h1>

<div>
    <%= @booking.content %>
    <p>from: <%= @booking.start_date %> to: <%= @booking.end_date %></p>
</div>

<% if policy(@booking).edit? %>
 <%= link_to "Edit", edit_booking_path(@booking) %>
<% end %>

<% if policy(@booking).destroy? %>
  <%= button_to "Delete", booking_path(@booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
<% end %>

<%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-primary" %>
<%= link_to "Delete", booking_path(@booking), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
<%= link_to "Add Review", new_booking_review_path(@booking), class: "btn btn-primary" %>

