<div class="navbar navbar-expand-md navbar-light navbar-boatbnb">
  <div class="container-fluid">
    <i class="fa-solid fa-sailboat fa-1x">  BoatB&B</i>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "#", class: "btn btn-secondary dropdown-toggle", role: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false" do %>
            <i class="fas fa-user-circle fa-lg"></i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "Create a Listing", new_boat_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Boats", my_boats_user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to "My Bokings", "#", class: "dropdown-item" %></li>
            <li><%= link_to "Homepage", root_path, class: "dropdown-item" %></li>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </ul>
        </li>
      <% else  %>
        <li>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<%# <div class="second-navbar">
  <div class="second-navbar-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div> %>
