<%= form_tag(boats_path, method: "get", class: "search-bar") do %>
  <%= text_field_tag(:location, params[:location], placeholder: "Search city", class: "location-input") %>

  <div class="flatpickr-date-input">
  <%= text_field_tag(:checkin_date, params[:checkin_date], placeholder: "Check In Date", class: "date-input", data: { controller: "flatpickr" }) %>
</div>

<div class="flatpickr-date-input">
  <%= text_field_tag(:checkout_date, params[:checkout_date], placeholder: "Check Out Date", class: "date-input", data: { controller: "flatpickr" }) %>
</div>

  <%= submit_tag("Search", class: "search-button") %>
<% end %>
