<main class="main-container">
  <p class="alert"><%= alert %></p>
  <div id="background-image-login">
    <div class="login-wrapper">
      <h2>Your Access Data</h2>
      <div class="log-in-card">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="remember-me">
            <%= f.check_box :remember_me, class: 'custom-checkbox' %>
            <%= f.label :remember_me, "Remember Me" %>
          </div>
          <div class="btn-links">
            <%= f.button :submit, "Login", class: "submit-btn custom-submit-btn" %>
            <%= link_to user_google_oauth2_omniauth_callback_path do %>
              <%= button_tag "Login with Google" %>
            <% end %>
            <%# <%= render "devise/shared/links" %> %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
