<div class="container1" style="background-image: url('https://images.unsplash.com/photo-1468413253725-0d5181091126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')">

  <div class="container">
    <h1>Submit a Review for <%= @booking.boat.name %></h1>
  </div>

  <div class="container2">
    <div class="form-container">
      <%= simple_form_for [@booking, @review], method: :post, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <p>Comment</p>
          <% f.label :comment %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <br>

        <div class="form-group">
          <% f.label :rating %>
          <%= f.input :rating, as: :integer, class: 'form-control' %>
        </div>

        <%= f.button :submit, class: 'btn submit-btn' %>
      <% end %>
      </div>
    <div>
  </div>
<div>
