<div class="container text-center">
  <h1>Edit your Boat</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for @boat, html: { class: 'form-horizontal' } do |f| %>
        <%= f.input :name, required: true, class: 'form-control' %>
        <%= f.input :description, required: true, class: 'form-control' %>
        <%= f.input :location, required: true, class: 'form-control' %>
        <%= f.input :price, required: true, class: 'form-control' %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

Show

<h1>show page</h1>
<div class="container">
  <h1><%= @boat.name %></h1>
  <p><%= @boat.description %></p>
  <p>Location: <%= @boat.location %></p>
  <p>Price: <%= @boat.price %></p>
</div>
