<div class="main-container">
  <div class="top-section mb-4">
    <div class="container1" id="background-img">
      <div class="header">
        <div class="text-container">
          <div class="text">
            <h1><i class="fa-solid fa-sailboat fa-1x logo">  BoatB&B</i></h1>
            <p>Your Number 1 Source for Boat Rentals</p>
          </div>
          <div class="search-bar">
            <%= render partial: "shared/search_bar", locals: { location: @locations } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <div class="bottom-section mb-4 col-lg-9">
    <div class="container">
      <% if params[:location].present? %>
        <h1>Boats in <%= params[:location].capitalize %></h1>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
        <% if @boats.empty? %>
          <p>Sorry, no boats match your search criteria.</p>
        <% else %>
        <div class="row row-cols-4">
          <% @boats.each do |boat| %>
            <div class="col mb-4">
              <a href="<%= boat_path(boat) %>" class="text-decoration-none">
                <%= render partial: "shared/boatcard", locals: { boat: boat } %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 100px;"></div>
  </div>
  <div class="col-lg-3">
    <div class="sticky-top">
      <div data-controller="map" id="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" style="width: 100%" class="vh-100"></div>
    </div>
  </div>
</div>
