<div class="main-container">
  <div class="banner-container">
    <div id="background-image-boat">
      <div class="dark-overlay"></div>
        <div class="login-wrapper">
          <h2 id="listing-header">Create a New Listing</h2>
          <div class="log-in-card">
            <%= simple_form_for @boat, { class: "form-horizontal" } do |f| %>
              <div class="form-inputs">
                <%= f.input :price, label: "Price", required: true, class: "form-control" %>
                <%= f.input :description, label: "Description", required: true, class: "form-control" %>
                <%= f.input :location, label: "Location", required: true, class: "form-control" %>
                <%= f.input :photo, as: :file %>
                <div class="d-flex justify-content-between">
                  <button type="submit" data-action="Create Boat", class="submit-btn custom-submit-btn">
                  <%= link_to "Home", root_path, class: "submit-btn custom-submit-btn" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
