<div class="main-container">
  <div class="banner-container">
    <div id="background-image-boat">
      <div class="dark-overlay"></div>
        <div class="login-wrapper">
          <h2 id="listing-header">Create a New Listing</h2>
          <div class="listing-card">
            <%= simple_form_for @boat, { class: "form-horizontal" } do |f| %>
              <div class="form-group">
                <%= f.input :price, label: "Price", required: true, class: "form-control" %>
                <%= f.input :description, label: "Description", required: true, class: "form-control" %>
                <%= f.input :location, label: "Location", required: true, class: "form-control" %>
                <%= f.input :photo, as: :file %>
                <%= f.submit "Create Boat", class: "button" %>
                <%= link_to "Home", root_path, class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
