<div class="container text-center">
  <h1><%= @boat.name %></h1>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card border-0 shadow-none w-100">
        <div class="rounded-img">
          <% if @boat.photo.attached? %>
            <%= cl_image_tag @boat.photo.key, fetch_format: 'auto', transformation: { width: 750, height: 450, crop: :scale }, class: "img-fluid boat-image" %>
          <% else %>
            <p>No photo available</p>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-title"><%= @boat.name %></p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text"><%= @boat.location %></p>
              <p class="card-text price-text">$<%= @boat.price.to_i %>/day</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="sticky-top">
        <div data-controller="map" id="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" style="width: 950px; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center gap-4">
  <% if policy(@boat).destroy? %>
  <%= button_to "Delete this boat", boat_path(@boat), method: :delete, data: { confirm: "Are you sure you want to delete this boat?" }, class: "show-btn" %>
  <% end %>

  <% if policy(@boat).edit? %>
  <%= link_to "Edit this boat", edit_boat_path(@boat), class: "show-btn" %>
  <% end %>

  <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "show-btn" %>

  <%= link_to "All boats", boats_path, class: "show-btn" %>
</div>


<div class="review-card">
  <h2 class="review-header">Reviews</h2>
  <%= render partial: "reviews/index", locals: { reviews: @boat.reviews } %>
</div>
