<div class="container text-center">
  <h1>show page</h1>
</div>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-2 justify-content-center">
    <a href="<%= boat_path(@boat) %>" class="text-decoration-none">
      <%= render partial: "shared/boatcard", locals: { boat: @boat } %>
    </a>
  </div>
</div>

<div class="d-flex justify-content-center gap-4">
  <% if policy(@boat).destroy? %>
  <%= button_to "Delete this boat", boat_path(@boat), method: :delete, data: { confirm: "Are you sure you want to delete this boat?" }, class: "btn btn-danger" %>
  <% end %>

  <% if policy(@boat).edit? %>
  <%= link_to "Edit this boat", edit_boat_path(@boat), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Book this boat", new_boat_booking_path(@boat), class: "btn btn-primary" %>

  <%= link_to "All boats", boats_path, class: "btn btn-secondary" %>
</div>
